<div class="center">
  <div class="edit-profile-container">
    <h2>Édition du profil</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label>Prénom</label>
          <input type="text" formControlName="firstname" />
        </div>
        <div class="form-group">
          <label>Nom</label>
          <input type="text" formControlName="lastname" />
        </div>
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="username" />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" />
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Couleur de bulle</label>
          <input type="color" formControlName="custom_profil_color" class="input-color" />
        </div>
        <div class="form-group">
          <label>Couleur de pseudo</label>
          <input type="color" formControlName="custom_username_color" class="input-color" />
        </div>
      </div>

      <button type="submit" [disabled]="profileForm.invalid">Enregistrer</button>
    </form>
  </div>
</div>

