.display {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
    overflow-x: hidden;
}

.overlay-center {
    flex: 1;
    margin-left: 80px;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    position: relative;
}