<div class="chat-container">
    <div class="chat-container-center" *ngFor="let chat of fetchDiscussionList; let i = index">
        <ng-content *ngIf="fetchUserPerChat[i]">
            <chat-bubble 
            [message]="chat.message"
            username="{{fetchUserPerChat[i]?.username}}"
            [isUserMessage]="+chat.user_id === 1"
            chatBubbleColor = "{{fetchUserPerChat[i]?.custom_profil_color}}"
            chatUsernameColor = "{{fetchUserPerChat[i]?.custom_username_color}}">
            </chat-bubble>
        </ng-content>
    </div>
</div>
